*{
    margin: 0%;
    padding: 0%;
}

.landing-page{
    width: 100%;
    height: auto;
    background-color: aqua;
}

.header {
    position: sticky;
    top: 0;
    background: white;
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  
  /* Cuando está oculto lo movemos hacia arriba para que no se vea */
  .header.hidden {
    transform: translateY(-100%);
  }

.contenedor-header,.header-derecha{
    display: flex;
    flex-direction: row;
    list-style-type: none;

    &.contenedor-header{
        margin-left: 3%;
        margin-right: 3%;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: rebeccapurple;
    }
    &.header-derecha{
        margin-left: 1%;
        width: 30%;
        justify-content: space-around;
    }
}

.buenardo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    width: 80%;
    background-color: royalblue;
    flex-direction: row;
    justify-content: space-between;
}
.buenardito{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.landing{
    scroll-margin-top: 80px;
    background-color: coral;
    height: 60vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    &.clientes{
        background-color: crimson;
    }
    &.preguntas{
        background-color: cornflowerblue;
    }
    &.premium{
        background-color: pink;
    }
    &.footer{
        height: 40vh;
        background-color: #FF3938;
        margin-right: 2%;
        margin-left: 2%;
        display: flex;
        flex-direction: row;
        padding-bottom: 0%;
    }
}

.carrusel{
    background-color: cyan;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
}

.cartel-cliente{
    align-items: center;
    justify-content: center;
    background-color: blue;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.boton-pregunta{
    width: 100%;
}

.cosita-cartel{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagen-premium{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.cartel-premium{
    height: 40%;
    margin-left: 2%;
    margin-right: 2%;
}

.y{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.footer-derecha,.footer-izquierda,.footer-centro{
    height: 80%;
    width: 33.3%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.redes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.red{
    width: calc(100%/4); /* cantidad de elementos */
    height: auto;
    object-fit: scale-down;
}
