*{
    margin: 0%;
}

.landing-page{
    width: 100%;
    height: auto;
    background-color: aqua;
}
.contenedor-header,.header-derecha{
    display: flex;
    flex-direction: row;

    &.contenedor-header{
        margin-left: 3%;
        margin-right: 3%;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: rebeccapurple;
    }
}

.buenardo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    width: 80%;
    background-color: royalblue;
    flex-direction: row;
    justify-content: space-between;
}
.buenardito{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.landing{
    background-color: coral;
    height: 60vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    &.clientes{
        background-color: crimson;
    }
    &.preguntas{
        background-color: cornflowerblue;
    }
    &.footer{
        height: 40vh
    }
}

.carrusel{
    background-color: cyan;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
}

.cartel-cliente{
    align-items: center;
    justify-content: center;
    background-color: blue;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}

.boton-pregunta{
    width: 100%;
}

.cosita-cartel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagen-premium{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.cartel-premium{
    height: 30%;
    margin-left: 2%;
    margin-right: 2%;
}

.y{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.footer-derecha,.footer-izquierda,.footer-centro{
    height: 80%;
    width: 33.3%;
    margin-left: 2%;
    margin-right: 2%;
}

.footer{
    margin-right: 2%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
}

.redes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.red{
    width: calc(100%/4); /* cantidad de elementos */
    height: auto;
    object-fit: scale-down;
}
