<div class="landing-page">

    <!-- Header -->
    <header class="header" [class.hidden]="isScrollingDown">
        <nav class="contenedor-header">
            <div class="logo">
                <img src="https://img.freepik.com/vector-gratis/carro-compras-realista_1284-6011.jpg?semt=ais_incoming&w=740&q=80" alt="Statill logo" style="height:40px; width:auto; margin-right:10px; vertical-align:middle;">
                <span>Statill</span>
            </div>
            <ul class="header-derecha"><!-- seccion derecha -->
                <li class="botones-header" *ngFor="let boton of botonesHeader">
                    <button type="button" class="boton-derecha-header" (click)="dirigirASeccion(boton.id)">{{boton.nombre}}</button>
                </li>
            </ul>
            <ul class="header-izquierda"><!-- seccion izquierda -->
                <button type="button" class="boton-header-izquierda" id="iniciar-sesion">Iniciar sesión</button>
                <button type="button" class="boton-header-izquierda" id="registrarse">Registrarse</button>
            </ul>
        </nav>
    </header>

    <!-- seccion 1 -->
    <div id="landing-info" class="landing info">
        <div class="titulo">
            <h1>DIGITALIZA TU COMERCIO</h1>
            <h3>¿Por qué digitalizar comercios?</h3>
        </div>
        <div class="buenardo">
            <div class="buenardito">
                <img src="" alt="cupon">
                <h4>Acceso a promociones explosivas.</h4>
            </div>

            <div class="buenardito">
                <img src="" alt="estadisticas">
                <h4>Estadísticas que mejoran la experiencia.</h4>
            </div>

            <div class="buenardito">
                <img src="" alt="$">
                <h4>Encontrar la opción económica.</h4>
            </div>

        </div>
    </div>

    <div id="landing-clientes" class="landing clientes">
        <div class="titulo">
            <h1>NUESTRO TRABAJO</h1>
            <h2>Clientes que tuvimos a lo largo de los años</h2>
        </div>
        <div class="carrusel">
            <div class="cartel-cliente" *ngFor="let cliente of clientes">
                <img [src]="cliente.imagen" [alt]="cliente.nombre">
                <h4 class="cliente-nombre">{{cliente.nombre}}</h4>
            </div>
        </div>
    </div>

    <div id="landing-preguntas" class="landing preguntas">
        <div class="titulo">
            <h1>PREGUNTAS FRECUENTES</h1>
            <h2>Clientes que tuvimos a lo largo de los años</h2>
        </div>
        <div class="landing-preguntas">
            <div class="preguntas-cartel" *ngFor="let pregunta of preguntas">
                <button type="button" class="boton-pregunta" (click)="pregunta.activo = !pregunta.activo">
                    {{pregunta.pregunta}} {{pregunta.activo ? '-' : '+'}}
                </button>
                <div class="pregunta-respuesta" *ngIf="pregunta.activo == true">
                    {{pregunta.respuesta}}
                </div>
            </div>
        </div>
    </div>

    <div id="landing-premium" class="landing premium">
        <div class="titulo">
            <h1>Planes</h1>
        </div>
        <div class="contenedor-carteles-premium">
          <div class="cosita-cartel">
            <div class="cartel-premium">
              <div class="premium-titulo">
                <h2>Plan Básico</h2>
                <img src="" alt="asd">
              </div>

                <li class="premium-lista">
                  <h3>- Sistema de puntos</h3>
                  <h3>- Promociones exclusivas</h3>
                  <h3>- Catálogo Online</h3>
                </li>

                <h2 class="premium-precio">GRATIS</h2>
            </div>
        </div>
        <div class="cosita-cartel">
            <div class="cartel-premium">
              <div class="premium-titulo">
                <h2>Plan Premium</h2>
                <img src="" alt="asd">
              </div>

                <li class="premium-lista">
                  <h3>- Extensión en capacidad de personal</h3>
                  <h3>- Graficos a elección ilimitados</h3>
                  <h3>- Acceso a herramientas de IA</h3>
                </li>

                <h2 class="premium-precio">GRATIS</h2>
            </div>
        </div>
        </div>

    </div>

    <footer id="landing-footer" class="landing footer">

        <div class="footer-derecha">
            <img class="y" src="assets/statill-contacto.png" alt="Statill logo">
        </div>
        <div class="footer-centro">
            <div class="texto-contacto">
                <h3>Contacto:</h3>
                <h3>+54 9 11 1928 4328</h3>
                <h3>statillcontacto@gmail.com</h3>
            </div>
        </div>
        <div class="footer-izquierda">
            <div class="redes">
                <img class="red" src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="facebook">
                <img class="red" src="https://logo.clearbit.com/instagram.com" alt="instagram">
                <img class="red" src="https://cdn-icons-png.flaticon.com/512/733/733635.png" alt="twitter">
            </div>
        </div>
    </footer>
</div>

