<div class="landing-page">

    <!-- Header -->
    <header class="header" [class.hidden]="isScrollingDown">
        <nav class="contenedor-header">
            <ul class="header-derecha"><!-- seccion derecha -->
                <li class="botones-header" *ngFor="let boton of botonesHeader">
                    <button type="button" (click)="dirigirASeccion(boton.id)">{{boton.nombre}}</button>
                </li>
            </ul>
            <ul class="header-izquierda"><!-- seccion izquierda -->
                <button type="button" class="inciar-sesion">Iniciar sesión</button>
                <button type="button" class="registrarse">Registrarse</button>
            </ul>
        </nav>
    </header>

    <!-- seccion 1 -->
    <div id="landing-info" class="landing info">
        <div>
            <h1>Digitaliza tu comercio</h1>
            <h3>¿Por qué digitalizar comercios?</h3>
        </div>
        <div class="buenardo">
            <div class="buenardito">
                <img src="" alt="cupon">
                <h4>Acceso a promociones explosivas.</h4>
            </div>

            <div class="buenardito">
                <img src="" alt="estadisticas">
                <h4>Estadísticas que mejoran la experiencia.</h4>
            </div>

            <div class="buenardito">
                <img src="" alt="$">
                <h4>Encontrar la opción económica.</h4>
            </div>

        </div>
    </div>

    <div id="landing-clientes" class="landing clientes">
        <div>
            <h1>Nuestro Trabajo</h1>
            <h2>Clientes que tuvimos a lo largo de los años</h2>
        </div>
        <div class="carrusel">
            <div class="cartel-cliente" *ngFor="let cliente of clientes">
                <img [src]="cliente.imagen" [alt]="cliente.nombre">
                <h4 class="cliente-nombre">{{cliente.nombre}}</h4>
            </div>
        </div>
    </div>

    <div id="landing-preguntas" class="landing preguntas">
        <div>
            <h1>Preguntas Frecuentes</h1>
            <h2>Clientes que tuvimos a lo largo de los años</h2>
        </div>
        <div class="landing-preguntas">
            <div class="preguntas" *ngFor="let pregunta of preguntas">
                <button type="button" class="boton-pregunta" (click)="pregunta.activo = !pregunta.activo">
                    {{pregunta.pregunta}}
                </button>
        
                <div *ngIf="pregunta.activo == true">
                    {{pregunta.respuesta}}
                </div>
            </div>
        </div>
    </div>

    <div id="landing-premium" class="landing premium">
        <div>
            <h1>Planes</h1>
            <h2>aaaaaaaaaaa</h2>
        </div>
        <div class="cosita-cartel">
            <div class="cartel-premium">
                <img class="imagen-premium"src="https://thumbs.dreamstime.com/b/persona-del-dinero-4686189.jpg" alt="">
                <h4>Premium $400</h4>
            </div>
            <div class="cartel-premium">
                <img class="imagen-premium"src="https://thumbs.dreamstime.com/b/persona-del-dinero-4686189.jpg" alt="">
                <h4>Premium $400</h4>
            </div>
            <div class="cartel-premium">
                <img class="imagen-premium"src="https://thumbs.dreamstime.com/b/persona-del-dinero-4686189.jpg" alt="">
                <h4>Premium $400</h4>
            </div>
            <div class="cartel-premium">
                <img class="imagen-premium"src="https://thumbs.dreamstime.com/b/persona-del-dinero-4686189.jpg" alt="">
                <h4>Premium $400</h4>
            </div>
            <div class="cartel-premium">
                <img class="imagen-premium"src="https://thumbs.dreamstime.com/b/persona-del-dinero-4686189.jpg" alt="">
                <h4>Premium $400</h4>
            </div>
        </div>
    </div>

    <footer id="landing-footer" class="landing footer">

        <div class="footer-derecha">
            <img class="y"  src="https://img.freepik.com/vector-gratis/carro-compras-realista_1284-6011.jpg?semt=ais_incoming&w=740&q=80" alt="Statill logo">
        </div>
        <div class="footer-centro">
            <div class="texto-contacto">
                <h3>Contacto:</h3>
                <h3>+54 9 11 1928 4328</h3>
                <h3>statillcontacto@gmail.com</h3>
            </div>
        </div>
        <div class="footer-izquierda">
            <h3>Siguenos en nuestras redes sociales:</h3>
            <div class="redes">
                <img class="red" src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="facebook">
                <img class="red" src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="instagram">
                <img class="red" src="https://cdn-icons-png.flaticon.com/512/733/733635.png" alt="twitter">
                <img class="red" src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="linkedin">
            </div>
        </div>
    </footer>
</div>

