*{
    margin: 0%;
}

.landing-page{
    width: 100vw;
    height: auto;
    background-color: aqua;
}
.contenedor-header,.header-derecha{
    display: flex;
    flex-direction: row;

    &.contenedor-header{
        margin-left: 3%;
        margin-right: 3%;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: rebeccapurple;
    }
}

.buenardo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    width: 80%;
    background-color: royalblue;
    flex-direction: row;
    justify-content: space-between;
}
.buenardito{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.landing-info,.landing-clientes{
    background-color: coral;
    height: 60vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    &.landing-clientes{
        background-color: crimson;
    }
}

.carrusel{
    background-color: cyan;
    display: flex;
    flex-direction: row;
}

.cliente-nombre{

}

.cartel-cliente{
    align-items: center;
    justify-content: center;
    background-color: blue;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}